$valeur1 : 10px;
$valeur2 : 25px;
$primaire:#9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$quaternaire: #c8c8c8;
@mixin hover-etape {
    background-color: lighten($primaire, 35);
    .fonctionnement_icone {
        color:$primaire;
    }
}
@mixin heart-hover {
    .coeurs_vide {
        background: -webkit-gradient(linear, left top, left bottom, from($primaire), to($secondaire));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index : 0;
    }
    .coeurs_plein {
        background: -webkit-gradient(linear, left top, left bottom, from($primaire), to($secondaire));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1;
        transform: scale(1.1);
        opacity: 1;
    }
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}
.body {
    &_loading_spinner {
        display:none;
    }
}
/* style de la partie header */
.header {
    
    position: relative;
    &_logo {
        text-align: center;
        font-family: 'Shrikhand', 'cursive';
        margin : 0px 0px 2px 0px;
        padding: $valeur1;
        font-size: 16pt;
        box-shadow: 0px 5px 10px darken($quaternaire,5)
    }
    &_icone {
        position: absolute;
        padding:12px;
        font-size: 15pt;
    }
}
.description {
    text-align: center;
    &_position {
        background-color: lighten($quaternaire, 15);
        padding: $valeur1;
        font-size: 10pt;
    } 
    &_icone {
        padding-right: $valeur1;
    }
    &_accroche {
        padding: $valeur2;
        background-color: lighten($quaternaire, 18);
        text-align: center;
        height: 270px;
    }
    &_text_accroche {
        font-size: 11pt;
        font-weight: 100;
        color: darken($quaternaire, 50);
    } 
}
.lien{
    text-decoration: none;
    color: darken($quaternaire,60)
}
.titre_de_section {
    padding-left: $valeur2;
}
.bouton{
    margin: auto;
    padding: $valeur1 +5px;
    font-size: 12pt;
    max-width: 210px;
    background: linear-gradient( $secondaire , $primaire); 
    border-radius: 25px;
    color: lighten($quaternaire,100);
    text-align: center;
    box-shadow:  5px 5px 5px $quaternaire;
}
.fonctionnement {
    &_list_etapes {
        margin:$valeur2;
        display: flex; 
        justify-content: space-evenly;
        flex-wrap: wrap;
        :hover {
            @include hover-etape;
        }
    }
    &_etape {
        width:270px;
        padding:$valeur1 +5px;
        margin: $valeur1;
        background-color: lighten($quaternaire, 18) ;
        border-radius: 20px;
        position:relative;
        box-shadow:  5px 5px 5px $quaternaire;
    }
    &_nombre {
        position: absolute; 
        left: -5px;
        padding: 5px 5px 3px 5px;
        background: linear-gradient( $secondaire , $primaire);
        color: lighten($quaternaire,100);
        border-radius: 20px;
        font-size: 8pt;
    }
    &_icone {
        width: 20px;
        margin-left: 10px;
    }
    &_text {
        padding-left: $valeur1;
    }
}
.liste_des_restaurants {
    background-color: lighten($quaternaire, 18);
    padding-top: $valeur2;
    padding-bottom : $valeur2 +10px;
}
.restaurants {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    &_carte {
        height: 210px;
        margin: $valeur1;
        box-shadow:  5px 5px 5px $quaternaire;
        background-color: lighten($quaternaire,100);
        border-radius: 10px;
    }
    &_image {
        width:300px;
        height: 150px;
        position: relative;
    }
    &_img {
        object-fit: cover;
        width:300px;
        height:150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &_nouveau {
        position : absolute;
        padding: 5px;
        background-color: $tertiaire;
        right: 10px;
        top: 10px;
        border-radius: 5px;
        color: darken($tertiaire, 40);
    }
    &_description {
        display:flex;
        justify-content: space-between;
        padding: 10px;
        :hover {
            @include heart-hover;
        }
    }
    &_et_lieu {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    &_nom {
        margin: 0px;
        &::first-letter{
            text-transform: uppercase;
        }
    }
}
.coeurs {
    font-size: 20pt;  
    position : relative;
    &_plein { 
        opacity: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        right: 10px; 
        top: 10px;
        transform: scale(1);
        transition: all 500ms;
    }
    &_vide {
        position: absolute; 
        top:10px;
        right: 10px;
        z-index: 1;
    }
}

.footer {
    background-color: darken($quaternaire,60);
    &_logo{
        font-family: 'Shrikhand', 'cursive';
        color: lighten($quaternaire,40);
        padding:10px;
        font-size: 16pt;
        margin:0px;
    }
    &_list {
        list-style: none;
        padding: 10px;
        color:lighten($quaternaire,40);
        margin: 0px;
    }
    &_icone {
        width:20px;
    }
}
.contact {
    color:white;
}
/* style des pages des restaurants*/
.main {
    background-color: lighten($quaternaire, 18); 
}
.accueil {
    position: relative;
    &_image {
        object-fit: cover;
        width:100%;
        max-height: 220px;
    }
    &_nom {
        padding:10px;
        background-color: lighten($quaternaire, 18);
        position: absolute;
        bottom: -20px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius:20px;
        font-family: 'Shrikhand', 'cursive';
        &::first-letter {
            text-transform: uppercase;
        }
    }
}
.list {
    padding:10px;
    &_ls {
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &_type_du_plat {
        text-transform: uppercase;
        width: 40px;
        border-bottom: 2px solid $tertiaire;
    }
    &_plat_et_tarif {
        padding: 10px; 
        margin: 10px 5px 10px 5px;
        background: lighten($quaternaire, 50);
        width: 290px;
        max-height:60px;
        border-radius: 15px;
        display:flex;
        justify-content: space-between;
        box-shadow:  5px 5px 5px $quaternaire;
        position: relative;
        transform-origin: top;
        opacity:0;
        animation: animation 1000ms ease-in-out;
        animation-fill-mode: forwards;
        &:hover .list_nom_du_plat {
            width:190px;
        }
        &:hover .list_description {
            width:190px;
        }
        &:hover .list_prix {
            transform:translateX(-50px);
        }
        &:hover .check {
            transform:rotate(2turn);
        }
        &:hover .list_check {
            transform: scaleX(1);
            z-index: 0;
        }
    }
    &_plats {
        margin: 10px;
    }
    &_nom_du_plat {
        font-weight: 900;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        display:inline-block;
    }
    &_description {
        font-size: 10pt;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        display:inline-block;
    }
    &_prix_et_check {
        display:flex;
    }
    &_check {
        padding-top: 10px;
        transform-origin: right;
        transform: scaleX(0);
        transition:transform 600ms;
        background-color: #99E2D0;
        height: 60px;
        padding:20px 15px 20px 15px;
        position: absolute;
        top:0px;
        right:-1px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    &_prix{
        padding-top:20px;
        transform: translateX(0px);
        transition: transform 600ms;
    }
}
.first {
    animation-delay: 200ms;
}
.second {
    animation-delay: 400ms; 
}
.third {
    animation-delay: 600ms;
}
.fourth {
    animation-delay: 800ms;
}
.check{
    transform: rotate(0turn);
    transition:transform 600ms; 
    font-size: 16pt;
    color:white;
}
.commander {
    padding: 40px 10px 50px 10px; 
    background-color: lighten($quaternaire,18);
}
/*** animations de chargement ***/
.content{
    transform-origin: bottom;
    transform: scale(0);
    animation: chargement linear; 
    animation-delay: 2900ms;
    animation-duration: 100ms;
    background-color: white;
    animation-fill-mode: forwards;
}
@keyframes chargement {
    0% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes disparition {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        height: 0;
    }
}
.body {
    height: 100vh;
    position: relative;
    width: 100%;
}
.section{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 46px;
  height: 100%;
  transform-origin: bottom;
  transform: scale(1); 
  animation: disparition linear;
  animation-delay: 2700ms; 
  animation-duration: 100ms;
  animation-fill-mode: forwards; 
}
.letter {
    font-family: 'Shrikhand', 'cursive';
    animation: spinner 1000ms linear infinite;
    animation-fill-mode: backwards;
    letter-spacing: 5px;
    font-size: 20pt;
    transform: scale(0);
    background:-webkit-linear-gradient(top,#9356DC,#FF79DA);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
@media screen and (min-width:768px) {
    .letter {
        font-size: 40pt;
    }
}
@media screen and (min-width:1024px) {
    .letter {
        font-size: 60pt;
    }
}
.let1 {
    animation-delay: 50ms, 0ms;
}
.let2 {
    animation-delay: 100ms, 0ms;
}
.let3 {
    animation-delay: 150ms, 0ms;
}
.let4 {
    animation-delay: 200ms, 0ms;
}
.let5 {
    animation-delay: 250ms, 0ms;
}
.let6 {
    animation-delay:300ms, 0ms;
}
.let7 {
    animation-delay:350ms, 0ms;
}
.let8 {
    animation-delay:400ms,0ms;
}
@keyframes spinner {
    0% {
        transform: scale(.5), 
    }
    80% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes animation {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}