* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

.body_loading_spinner {
  display: none;
}

/* style de la partie header */
.header {
  position: relative;
}

.header_logo {
  text-align: center;
  font-family: 'Shrikhand', 'cursive';
  margin: 0px 0px 2px 0px;
  padding: 10px;
  font-size: 16pt;
  -webkit-box-shadow: 0px 5px 10px #bbbbbb;
          box-shadow: 0px 5px 10px #bbbbbb;
}

.header_icone {
  position: absolute;
  padding: 12px;
  font-size: 15pt;
}

.description {
  text-align: center;
}

.description_position {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 10pt;
}

.description_icone {
  padding-right: 10px;
}

.description_accroche {
  padding: 25px;
  background-color: #f6f6f6;
  text-align: center;
  height: 270px;
}

.description_text_accroche {
  font-size: 11pt;
  font-weight: 100;
  color: #494949;
}

.lien {
  text-decoration: none;
  color: #2f2f2f;
}

.titre_de_section {
  padding-left: 25px;
}

.bouton {
  margin: auto;
  padding: 15px;
  font-size: 12pt;
  max-width: 210px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  text-align: center;
  -webkit-box-shadow: 5px 5px 5px #c8c8c8;
          box-shadow: 5px 5px 5px #c8c8c8;
}

.fonctionnement_list_etapes {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fonctionnement_list_etapes :hover {
  background-color: #f2eafb;
}

.fonctionnement_list_etapes :hover .fonctionnement_icone {
  color: #9356DC;
}

.fonctionnement_etape {
  width: 270px;
  padding: 15px;
  margin: 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 5px 5px 5px #c8c8c8;
          box-shadow: 5px 5px 5px #c8c8c8;
  cursor: pointer;
}

.fonctionnement_nombre {
  position: absolute;
  left: -5px;
  padding: 5px 5px 3px 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 20px;
  font-size: 8pt;
}

.fonctionnement_icone {
  width: 20px;
  margin-left: 10px;
}

.fonctionnement_text {
  padding-left: 10px;
}

.liste_des_restaurants {
  background-color: #f6f6f6;
  padding-top: 25px;
  padding-bottom: 35px;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurants_carte {
  height: 210px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 5px #c8c8c8;
          box-shadow: 5px 5px 5px #c8c8c8;
  background-color: white;
  border-radius: 10px;
}

.restaurants_image {
  width: 300px;
  height: 150px;
  position: relative;
}

.restaurants_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.restaurants_nouveau {
  position: absolute;
  padding: 5px;
  background-color: #99E2D0;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  color: #278870;
}

.restaurants_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.restaurants_description :hover .coeurs_vide {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
}

.restaurants_description :hover .coeurs_plein {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.restaurants_description :hover .coeurs_vi {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
}

.restaurants_description :hover .coeurs_pl {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.restaurants_et_lieu {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.restaurants_nom {
  margin: 0px;
}

.restaurants_nom::first-letter {
  text-transform: uppercase;
}

.coeurs {
  font-size: 20pt;
  position: relative;
}

.coeurs_plein {
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.coeurs_vide {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.coeurs_pl {
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.coeurs_vi {
  position: absolute;
  z-index: 1;
}

.footer {
  background-color: #2f2f2f;
}

.footer_logo {
  font-family: 'Shrikhand', 'cursive';
  color: white;
  padding: 10px;
  font-size: 16pt;
  margin: 0px;
}

.footer_list {
  list-style: none;
  padding: 10px;
  color: white;
  margin: 0px;
}

.footer_icone {
  width: 20px;
}

.contact {
  color: white;
}

/* style des pages des restaurants*/
.main {
  background-color: #f6f6f6;
}

.accueil {
  position: relative;
}

.accueil_image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 220px;
}

.accueil_nom {
  padding: 10px;
  background-color: #f6f6f6;
  position: absolute;
  bottom: -20px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: 'Shrikhand', 'cursive';
}

.accueil_nom::first-letter {
  text-transform: uppercase;
}

.accueil_nom_et_coeur :hover {
  cursor: pointer;
}

.accueil_nom_et_coeur :hover .coeurs_vide {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
}

.accueil_nom_et_coeur :hover .coeurs_plein {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.accueil_nom_et_coeur :hover .coeurs_vi {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
}

.accueil_nom_et_coeur :hover .coeurs_pl {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.accueil .coeurs {
  position: absolute;
  bottom: 35px;
  right: 50px;
}

.list {
  padding: 10px;
}

.list_ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list_type_du_plat {
  text-transform: uppercase;
  width: 40px;
  border-bottom: 2px solid #99E2D0;
}

.list_plat_et_tarif {
  padding: 10px;
  margin: 10px 5px 10px 5px;
  background: white;
  width: 290px;
  max-height: 60px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 5px 5px 5px #c8c8c8;
          box-shadow: 5px 5px 5px #c8c8c8;
  position: relative;
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  -webkit-animation: animation 1000ms ease-in-out;
          animation: animation 1000ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}

.list_plat_et_tarif:hover .list_nom_du_plat {
  width: 190px;
}

.list_plat_et_tarif:hover .list_description {
  width: 190px;
}

.list_plat_et_tarif:hover .list_prix {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.list_plat_et_tarif:hover .check {
  -webkit-transform: rotate(2turn);
          transform: rotate(2turn);
}

.list_plat_et_tarif:hover .list_check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  z-index: 0;
}

.list_plats {
  margin: 10px;
}

.list_nom_du_plat {
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.list_description {
  font-size: 10pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.list_prix_et_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list_check {
  padding-top: 10px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  background-color: #99E2D0;
  height: 60px;
  padding: 20px 15px 20px 15px;
  position: absolute;
  top: 0px;
  right: -1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.list_prix {
  padding-top: 20px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.first {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.second {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.third {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.fourth {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.check {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  font-size: 16pt;
  color: white;
}

.commander {
  padding: 40px 10px 50px 10px;
  background-color: #f6f6f6;
}

/*** animations de chargement ***/
.content {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: chargement linear;
          animation: chargement linear;
  -webkit-animation-delay: 2900ms;
          animation-delay: 2900ms;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  background-color: white;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes chargement {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes chargement {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    height: 0;
  }
}

@keyframes disparition {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    height: 0;
  }
}

.body {
  height: 100vh;
  position: relative;
  width: 100%;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 46px;
  height: 100%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: disparition linear;
          animation: disparition linear;
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.letter {
  font-family: 'Shrikhand', 'cursive';
  -webkit-animation: spinner 1000ms linear infinite;
          animation: spinner 1000ms linear infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  letter-spacing: 5px;
  font-size: 20pt;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 768px) {
  .letter {
    font-size: 40pt;
  }
}

@media screen and (min-width: 1024px) {
  .letter {
    font-size: 60pt;
  }
}

.let1 {
  -webkit-animation-delay: 50ms, 0ms;
          animation-delay: 50ms, 0ms;
}

.let2 {
  -webkit-animation-delay: 100ms, 0ms;
          animation-delay: 100ms, 0ms;
}

.let3 {
  -webkit-animation-delay: 150ms, 0ms;
          animation-delay: 150ms, 0ms;
}

.let4 {
  -webkit-animation-delay: 200ms, 0ms;
          animation-delay: 200ms, 0ms;
}

.let5 {
  -webkit-animation-delay: 250ms, 0ms;
          animation-delay: 250ms, 0ms;
}

.let6 {
  -webkit-animation-delay: 300ms, 0ms;
          animation-delay: 300ms, 0ms;
}

.let7 {
  -webkit-animation-delay: 350ms, 0ms;
          animation-delay: 350ms, 0ms;
}

.let8 {
  -webkit-animation-delay: 400ms,0ms;
          animation-delay: 400ms,0ms;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */