*{
    box-sizing:border-box;
    font-family: "Roboto", "sans-serif";
}
/*** style du logo***/ 
.header {
    margin-bottom: 2px;
    box-shadow: -0px 1px 10px #979797;
}
.logo{
    font-family: "Shrikhand", "cursive";
    font-size: 22px;
    padding: 10px 0px 10px 0px;
    margin: 0px; 
}
/*** style de la section description***/ 
.icone_position {
    padding-right: 15px;
}
.position {
    padding: 10px 0px 10px 0px;
    font-weight: 900;
}
.accroche {
    margin: 20px 0px 50px 0px;
    padding: 10px 0px 10px 0px;
}
.titre_de_section {
    margin-left: 20px;
    font-weight: 900;
    padding-inline-start: 5px;
}
.text_accroche {
    padding-top: 10px;
    font-size: 14px;
}
.bouton {
    margin-top: 10px;
    padding: 15px;
    border-radius: 50px;
}
/*** style de la section fonctionnement***/ 
.list_etapes{
    padding:0px;
}
.nombre{
    border-radius:20px;
    padding:2px 5px 2px 5px;
    margin-top: 23px;
    left:22px;
}
.etape {
    width:280px;
    height: 50px;
    padding: 15px 0px 5px 30px;
    margin: 10px 10px 10px 30px;
    border-radius: 15px;
}
.icone{
    width:20px;
    margin: 0px 20px 0px 10px;
}
/*** style de la section liste des restaurants ***/
.list_restaurants{
    padding: 15px 0px 30px 0px;
}
.carte_restaurant {
    max-width: 280px;
    height: 230px;
    margin: 20px;
    border-radius: 10px;
}
.lien {
    color: rgb(15, 15, 15); 
}
.img_restaurant {
    width: 280px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    object-fit: cover;
}
.nouveau{
    background-color: #99E2D0 ;
    padding:5px;
    border-radius: 5px;
    right:10px;
    top: 10px;
}
.description_carte{
    font-size: 16px;
}
.restaurant{
    margin: 10px;
}
.lieu {
    margin:0px 10px 0px 10px;
    font-weight: lighter;
}
.coeur{
    margin: 20px 20px 20px 10px;
    font-size: 25px;
}
.footer {
    padding: 30px 0px 100px 30px;
    background-color: black;
    color: white;
}
.list_footer {
    list-style: none;
    padding-left: 0px;
}
/***** fin de la page d'accueil*****/
/***** style des pages des restaurants****/
.left {
    left: 10px;
    top:10px;
    font-size: 20px;
}
.resto {
    margin: 0px 20px 0px 20px;
}
.image_et_nom {
    width: 100%;
    max-height: 300px;
}
.image_restaurant {
    width: 100%; 
    object-fit: cover;
    margin-bottom: 20px;
    max-height: 300px;
}
.nom_restaurant {
    width:100%;
    bottom: -10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-top: 10px;
}
.nom {
    font-family: 'Shrikhand', 'cursive';
    padding: 20px 0px 0px 20px;
    margin:0px;
}
.list_des_plats {
    padding:10px;
}
.type_du_plat{
    text-transform: uppercase;
    width: 45px;
    border-bottom: medium solid #99E2D0;
}
.list{
    padding:0px;
}
.plat_et_tarif{
    border-radius: 15px;
    margin:10px 5px 10px 5px;
    padding: 10px;
    width: 300px;
}
.nom_du_plat{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.description {
    font-size: 14px;
}
.prix_et_check {
    padding-top: 20px;
}
.prix {
    margin:5px;
}
.check {
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    display:none;
}
.commander{
    height: 170px;
    padding-top:50px;
}
/***principe DRY ***/
.flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.between {
    display: flex;
    justify-content: space-between;
}
.center {
    text-align: center;
}
.decoration {
    text-decoration: none;
}
.absolute {
    position:absolute;
}
.relative {
    position:relative;
}
.gray {
    background-color: #ebebeb;
}
.gradient {
    background: linear-gradient( #edabf0 , #9356DC);
}
.flex_only {
    display:flex; 
}
.white {
    background-color: white;
}
.shadow {
    box-shadow: 2px 5px 10px #979797; 
}
.co_white {
    color:white;
}
/******* conbinateur enfant ****/
style > li {
    list-style: none;
}